<html>
<h2>Bert-E status page for {{ owner }}/{{ slug }}</h2><p>

{%- if current_job %}
<h3>Current job:</h3>
<p>[{{ current_job['start_time'].strftime("%Y-%m-%d %H:%M:%S") }}] - <a href="{{ current_job['revision']|pr_url }}">{{ current_job['revision'] }}</a></p>
{%- endif %}

{%- for pr in merged_prs %}
{%- if loop.first %}<h3>Recently merged pull requests:</h3><ul>{% endif %}
<li>[{{ pr['merge_time'].strftime("%Y-%m-%d %H:%M:%S") }}] - <a href="{{ pr['id']|pr_url }}">#{{ pr['id'] }}</a></li>
{%- if loop.last %}</ul>{% endif %}
{%- endfor %}

{%- for line in queue_lines %}
{%- if loop.first %}
<h3>Merge queue status:</h3><p>
<table border="1" cellpadding="10">
<tr align="center">
{%- for v in versions %}
{%- if loop.first %}
<td></td>
{%- endif %}
<td>{{ v }}</td>
{%- endfor %}
</tr>
{%- endif %}
{%- for v in versions %}
{%- if loop.first %}
<tr align="center">
<td><a href="{{ line['pr_id']|pr_url }}">#{{ line['pr_id'] }}</a></td>
{%- endif %}
{%- if v in line %}<td>
{%- if line[v].get('status', 'NOTSTARTED') != 'NOTSTARTED' -%}
<a href="{{ line[v]['sha1']|build_url }}">{{ line[v]['status'] }}</a>
{%- else %}NOTSTARTED{% endif %}</td>
{%- else %}<td></td>{% endif %}
{%- if loop.last %}
</tr>
{%- endif %}
{%- endfor %}
{%- if loop.last %}
</table>
</p>
{%- endif %}
{%- endfor %}

{%- for job in pending_jobs %}
{%- if loop.first %}
<h3>{{ pending_jobs|length }} pending jobs:</h3><ul>
{% endif %}
<li>[{{ job['start_time'].strftime("%Y-%m-%d %H:%M:%S") }}] - <a href="{{ job['revision']|pr_url }}">{{ job['revision'] }}</a></li>
{%- if loop.last %}</ul>{% endif %}
{%- endfor %}

{%- for job in completed_jobs %}
{%- if loop.first %}<h3>Completed jobs:</h3><ul>{% endif %}
<li>[{{ job['job']['start_time'].strftime("%Y-%m-%d %H:%M:%S") }}] - <a href="{{ job['job']['revision']|pr_url }}">{{ job['job']['revision'] }}</a> -> {{ job['status'] }}{% if job['details'] %}<p>{{ job['details'] }}</p>{% endif %}</li>
{%- if loop.last %}</ul>{% endif %}
{%- endfor %}
</html>
